In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#load dataset
df=pd.read_csv("online.csv")
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [3]:
import category_encoders as ce

In [4]:
#encoder=ce.HashingEncoder(cols="Area")
encoder=ce.HashingEncoder(cols="Area",n_components=3)

In [5]:
encoder.fit_transform(df)

    col_0  col_1  col_2  Marketing Spend  Administration  Transport     Profit
0       0      1      0        114523.61       136897.80  471784.10  192261.83
1       0      0      1        162597.70       151377.59  443898.53  191792.06
2       1      0      0        153441.51       101145.55  407934.54  191050.39
3       0      1      0        144372.41       118671.85  383199.62  182901.99
4       1      0      0        142107.34        91391.77  366168.42  166187.94
5       0      1      0        131876.90        99814.71  362861.36  156991.12
6       0      0      1        134615.46       147198.87  127716.82  156122.51
7       1      0      0        130298.13       145530.06  323876.68  155752.60
8       0      1      0        120542.52       148718.95  311613.29  152211.77
9       0      0      1        123334.88       108679.17  304981.62  149759.96
10      1      0      0        101913.08       110594.11  229160.95  146121.95
11      0      0      1        100671.96        91790.61  249744.55  144259.40
12      1      0      0         93863.75       127320.38  249839.44  141585.52
13      0      0      1         91992.39       135495.07  252664.93  134307.35
14      1      0      0        119943.24       156547.42  256512.92  132602.65
15      0      1      0        165349.20       122616.84  261776.23  129917.04
16      0      0      1         78013.11       121597.55  264346.06  126992.93
17      0      1      0         94657.16       145077.58  282574.31  125370.37
18      1      0      0         91749.16       114175.79  294919.57  124266.90
19      0      1      0         86419.70       153514.11        NaN  122776.86
20      0      0      1         76253.86       113867.30  298664.47  118474.03
21      0      1      0         78389.47       153773.43  299737.29  111313.02
22      1      0      0         73994.56       122782.75  303319.26  110352.25
23      1      0      0         67532.53       105751.03  304768.73  108733.99
24      0      1      0         77044.01        99281.34  140574.81  108552.04
25      0      0      1         64664.71       139553.16  137962.62  107404.34
26      1      0      0         75328.87       144135.98  134050.07  105733.54
27      0      1      0         72107.60       127864.55  353183.81  105008.31
28      1      0      0         66051.52       182645.56  118148.20  103282.38
29      0      1      0         65605.48       153032.06  107138.38  101004.64
30      1      0      0         61994.48       115641.28   91131.24   99937.59
31      0      1      0         61136.38       152701.92   88218.23   97483.56
32      0      0      1         63408.86       129219.61   46085.25   97427.84
33      1      0      0         55493.95       103057.49  214634.81   96778.92
34      0      0      1         46426.07       157693.92  210797.67   96712.80
35      0      1      0         46014.02        85047.44  205517.64   96479.51
36      1      0      0         28663.76       127056.21  201126.82   90708.19
37      0      0      1         44069.95        51283.14  197029.42   89949.14
38      0      1      0         20229.59        65947.93  185265.10   81229.06
39      0      0      1         38558.51        82982.09  174999.30   81005.76
40      0      0      1         28754.33       118546.05  172795.67   78239.91
41      1      0      0         27892.92        84710.77  164470.71   77798.83
42      0      0      1         23640.93        96189.63  148001.11   71498.49
43      0      1      0         15505.73       127382.30   35534.17   69758.98
44      0      0      1         22177.74       154806.14   28334.72   65200.33
45      0      1      0          1000.23       124153.04    1903.93   64926.08
46      1      0      0          1315.46       115816.21  297114.46   49490.75
47      0      0      1             0.00       135426.92       0.00   42559.73
48      0      1      0           542.05        51743.15       0.00   35673.41
49      0      0      1             0.00       116983.80   45173.06   14681.40