# Data Structures in Python

# List

1. Ordered
2. Changeable
3. Allow Duplicates

In [1]:
l1 = ['data', 'science', 1,2,3,4,100,True, False,[1,2,3,45]]

In [2]:
l1

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [3]:
import sys
sys.getsizeof(l1)

136

In [4]:
t1 = ('data', 'science', 1,2,3,4,100,True, False,[1,2,3,45])

In [5]:
sys.getsizeof(t1)

120

In [6]:
t1[-1][2]

3

In [7]:
t1[-1]

[1, 2, 3, 45]

In [8]:
l1[-1][2]

3

In [9]:
l1[-1]

[1, 2, 3, 45]

In [10]:
l1 # list

['data', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [11]:
l1[0]

'data'

In [12]:
l1[0] = 'science' # tuple elemtn unchangalble

In [13]:
l1

['science', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [14]:
t1[0]

'data'

In [15]:
t1[0] = 'science'

TypeError: 'tuple' object does not support item assignment

In [16]:
l1

['science', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [17]:
l1[2]

1

In [18]:
l1[2:6] # colon means 2 to 6

[1, 2, 3, 4]

In [19]:
l1[-2] # positive 0 -> n-1  ; negative -1  to n

False

In [20]:
string = 'data science'

In [21]:
string.split()

['data', 'science']

In [22]:
for x in range(len(string)):
    print(string[x], x)

d 0
a 1
t 2
a 3
  4
s 5
c 6
i 7
e 8
n 9
c 10
e 11

In [23]:
data = string.split()

In [26]:
for x in range(len(data)):
    print(data[x])

data
science

In [27]:
l1

['science', 'science', 1, 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [28]:
l1.append('kalam vai') # add element

In [29]:
l1

['science',
 'science',
 1,
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 45],
 'kalam vai']

In [30]:
l1

['science',
 'science',
 1,
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 45],
 'kalam vai']

In [32]:
l1.insert(3,'teacher')

In [33]:
l1

['science',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 45],
 'kalam vai']

In [34]:
l1.index('teacher')

3

In [35]:
l1

['science',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 45],
 'kalam vai']

In [36]:
l2 = l1

In [37]:
l2

['science',
 'science',
 1,
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 45],
 'kalam vai']

In [38]:
l2.remove(1) # remove element

In [39]:
l2

['science',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 45],
 'kalam vai']

In [40]:
l1

['science',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 45],
 'kalam vai']

In [41]:
id(l1)

2012822656640

In [42]:
id(l2)

2012822656640

In [43]:
l3 = l2.copy() # to ignore this problem use copy

In [44]:
l2

['science',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 45],
 'kalam vai']

In [45]:
l3

['science',
 'science',
 'teacher',
 2,
 3,
 4,
 100,
 True,
 False,
 [1, 2, 3, 45],
 'kalam vai']

In [46]:
l3.pop(-2) # -2 is index

[1, 2, 3, 45]

In [47]:
l3

['science', 'science', 'teacher', 2, 3, 4, 100, True, False, 'kalam vai']

In [48]:
l2.remove('science')

In [50]:
l2

['science', 'teacher', 2, 3, 4, 100, True, False, [1, 2, 3, 45], 'kalam vai']

In [51]:
l3

['science', 'science', 'teacher', 2, 3, 4, 100, True, False, 'kalam vai']

In [52]:
l2.remove('science')

In [53]:
l2

['teacher', 2, 3, 4, 100, True, False, [1, 2, 3, 45], 'kalam vai']

In [54]:
del l2[8]

In [55]:
l2

['teacher', 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [56]:
l3 = [1,2,7,8,10,1,3,7]

In [57]:
l3.sort()

In [58]:
l3

[1, 1, 2, 3, 7, 7, 8, 10]

In [59]:
l3.reverse()

In [60]:
l3

[10, 8, 7, 7, 3, 2, 1, 1]

In [62]:
l3.count(1)

2

In [63]:
l3.clear()

In [64]:
l3

[]

In [65]:
l3 = [1,2,7,8,10,1,3,7]

In [68]:
total = 0
for x in l3:
    total+=x
    print(total)
#print(total)

1
3
10
18
28
29
32
39

In [69]:
total = 0
for x in l3:
    total=x+total
    print(total)
#print(total)

1
3
10
18
28
29
32
39

# input function

In [70]:
10+20

30

In [71]:
x = 10
y = 20
x+y

30

In [72]:
x*y

200

In [73]:
y/x # division

2.0

In [74]:
y%x # modulus

0

In [75]:
x = input()
y = input()
x+y

10
10

'1010'

In [76]:
x = input()

100

In [77]:
x

'100'

In [78]:
type(x)

str

In [79]:
x = int(input('Enter your 1st number: '))
y = int(input('Enter your 2nd number: '))
x+y

Enter your 1st number: 199
Enter your 2nd number: 47889292199

47889292398

In [80]:
x

199

In [81]:
y

47889292199

In [82]:
#list input

In [84]:
list1 = []

n = int(input())

for i in range(n):
    new_element = input()
    list1.append(new_element)
    print(list1)

3
shakil
['shakil']
data
['shakil', 'data']
science
['shakil', 'data', 'science']

In [85]:
list1

['shakil', 'data', 'science']

In [87]:
list1 = []

n = int(input())

for i in range(n):
    new_element = int(input())
    list1.append(new_element)
    print(list1)

3
23
[23]
70
[23, 70]
22
[23, 70, 22]

In [90]:
l2

['teacher', 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [91]:
type(l2)

list

# Tuple in python

In [92]:
tup1 = ('data science',) # tuple

In [93]:
tup1

('data science',)

In [94]:
l2

['teacher', 2, 3, 4, 100, True, False, [1, 2, 3, 45]]

In [95]:
type(tup1)

tuple

In [96]:
tup1

('data science',)

In [97]:
tup1 = ('data science','ai')

In [99]:
tup1

('data science', 'ai')

In [100]:
tup1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [101]:
#tup to list
tup2 = list(tup1)

In [102]:
tup2

['data science', 'ai']

In [103]:
tup2[0] = 1

In [105]:
tup2

[1, 'ai']

In [106]:
tup1 = tuple(tup2)

In [107]:
tup1

(1, 'ai')

In [108]:
type(tup1)

tuple

In [109]:
'ai' in tup2

True

In [110]:
10 in tup2

False

In [111]:
tup2

[1, 'ai']

In [112]:
del tup1[1]

TypeError: 'tuple' object doesn't support item deletion

In [113]:
tup1.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [114]:
tup1

(1, 'ai')

In [115]:
slic = tup1[1:2]

In [116]:
slic

('ai',)

In [121]:
tup1[:1]

(1,)

In [122]:
tup1[:1] + tup1[1:2]

(1, 'ai')

# All about Python Set{}

1. Unordered
2. Unchangeable
3. Duplicates Not Allowed

In [123]:
s1 = {1,2,3,454,5}
s2 = {'ai','data science'}

In [124]:
s1

{1, 2, 3, 5, 454}

In [125]:
s2

{'ai', 'data science'}

In [127]:
s1[0] = 0

TypeError: 'set' object does not support item assignment

In [128]:
s1[0]

TypeError: 'set' object is not subscriptable

In [133]:
s1 = {1,2,3,4,5,4,5,4,5,1,1,1}

In [134]:
s1 # remove duplocates

{1, 2, 3, 4, 5}

In [135]:
#intersection
s1.intersection(s2)

set()

In [136]:
s2

{'ai', 'data science'}

In [137]:
s2 = {1,2,34,5,2}

In [138]:
s1.intersection(s2)

{1, 2, 5}

In [139]:
s1.union(s2)

{1, 2, 3, 4, 5, 34}

In [140]:
s1

{1, 2, 3, 4, 5}

In [141]:
s2

{1, 2, 5, 34}

In [142]:
s1.union(s2)

{1, 2, 3, 4, 5, 34}

In [144]:
s1 | s2

{1, 2, 3, 4, 5, 34}

In [145]:
s1 & s2

{1, 2, 5}

In [146]:
s1.add(56)

In [147]:
s1

{1, 2, 3, 4, 5, 56}

In [148]:
s1.remove(4)

In [149]:
s1

{1, 2, 3, 5, 56}

In [150]:
s1.clear()

In [151]:
s1

set()

# Array

In [152]:
import array as ar

In [154]:
array = ar.array('i',[1,2,3,4,5]) #

In [155]:
array

array('i', [1, 2, 3, 4, 5])

In [167]:
array = ar.array('f',[1.5,2,3,4,5]) #

In [168]:
array

array('f', [1.5, 2.0, 3.0, 4.0, 5.0])

In [169]:
array.insert(1,10) # 1 is position and 10 is value

In [170]:
array

array('f', [1.5, 10.0, 2.0, 3.0, 4.0, 5.0])

In [171]:
array.reverse()

In [172]:
array

array('f', [5.0, 4.0, 3.0, 2.0, 10.0, 1.5])

In [173]:
array.count(10) # 1o koto bar ase

1

# Dictionary

In [175]:
dic = {
    'name': 'shakil',
    'varsity': 'DIU',
    'year': 2021
}

In [176]:
dic

{'name': 'shakil', 'varsity': 'DIU', 'year': 2021}

In [177]:
dic.keys()

dict_keys(['name', 'varsity', 'year'])

In [178]:
dic.values()

dict_values(['shakil', 'DIU', 2021])

In [182]:
dic['varsity'] = 'FAU Germany'

In [183]:
dic

{'name': 'shakil', 'varsity': 'FAU Germany', 'year': 2021}

In [187]:
dic = {
    'name': 'shakil',
    'varsity': 'DIU',
    'year': 2021,
    'varsity': 'FAU',
    'year': 2029,
}

In [188]:
dic

{'name': 'shakil', 'varsity': 'FAU', 'year': 2029}

In [189]:
dic.popitem()

('year', 2029)

In [190]:
dic

{'name': 'shakil', 'varsity': 'FAU'}

In [191]:
dic['dep'] = 'Data Science'

In [192]:
dic

{'name': 'shakil', 'varsity': 'FAU', 'dep': 'Data Science'}

In [193]:
dic['dept'] = 'Data Science'

In [194]:
dic

{'name': 'shakil',
 'varsity': 'FAU',
 'dep': 'Data Science',
 'dept': 'Data Science'}

In [196]:
list(dic.keys())

['name', 'varsity', 'dep', 'dept']

In [197]:
list(dic.values())

['shakil', 'FAU', 'Data Science', 'Data Science']

In [198]:
set(dic.values())

{'Data Science', 'FAU', 'shakil'}

In [199]:
dic.pop('varsity')

'FAU'

In [201]:
dic.pop('dep')

'Data Science'

In [202]:
dic

{'name': 'shakil', 'dept': 'Data Science'}

# DataFrame

In [204]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\study mart\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\study mart\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\study mart\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\study mart\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\study mart\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [205]:
import pandas as pd

In [208]:
li = ['data','science','ai']

In [209]:
df = pd.DataFrame(li)

In [210]:
df

         0
0     data
1  science
2       ai

In [219]:
df = pd.DataFrame(li, columns=['dept'])

In [220]:
df

      dept
0     data
1  science
2       ai

In [221]:
df.shape # row , col

(3, 1)

In [222]:
row, col = df.shape

In [223]:
row

3

In [224]:
col

1

In [225]:
df2 = pd.DataFrame(li, columns=['dept name'])

In [226]:
df2

  dept name
0      data
1   science
2        ai

In [228]:
df+df2

  dept dept name
0  NaN       NaN
1  NaN       NaN
2  NaN       NaN

In [235]:
df

      dept dept name
0     data       NaN
1  science       NaN
2       ai       NaN
0      NaN      data
1      NaN   science
2      NaN        ai

In [236]:
df1 = pd.DataFrame(li)
df2 = pd.DataFrame(li)

In [260]:
df = pd.concat([df1, df2], axis=1) # 1=column ; 0=rows

In [261]:
df

         0        0
0     data     data
1  science  science
2       ai       ai

In [262]:
df.drop([0,1], inplace=True)

In [263]:
df

    0   0
2  ai  ai

In [259]:
df = df.drop([0,1])

In [256]:
df

    0   0
2  ai  ai

In [243]:
df.drop([0])

         0        0
1  science  science
2       ai       ai

In [249]:
df.drop([0], axis=1, inplace=True)

In [250]:
df.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2]